body{
background-color:#855436;
}
h1{
text-decoration:normal;
font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
a{text-decoration: none;
color: #ffffff;
}
a:link, a:visited {
	text-decoration: none
	}
a:hover {
	text-decoration: nome; 
	color: #f00
	}
a:active {
	text-decoration: none
	}


.texto{

font-size:200%;
font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
position:absolute;
left:2%;
top:30%;

/*right:100%;*/

}


div.header{
position:absolute;
margin-top:2%;
background-color:#8c2b3d;
/*border: 1px solid green; 
text-indent:5%;*/

width:97%;
height:17%;

/*border-radius: 1em;*/
border-top-left-radius:2em;
border-top-right-radius:2em;
/* box-shadow: black 1em 1em 0.5em */

}
ul{
text-decoration: none;
list-style-type: none;
font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
line-height:250%;
font-size:150%;


}

div.nav{

position:absolute;
/*margin:32px 1100px -40px -5px;*/
margin-right:70%;
margin-top:9.5%;
background-color:#c3c3c3;
float:left;
/*border: 1px solid red;*/ 



height:80%;
width:20%;
/*border: solid thick red;*/
  /*border-radius: 1em;*/
 border-bottom-left-radius:2em;
}
div.ladodireito		
{
position:absolute;
margin-left:77%;
margin-top:9.5%;
background-color:#c3c3c3;
/*border: 1px solid yellow; */

height:80%;
width:20%;
/*border-radius: 1em;*/
/*box-shadow: black 1em 1em 0.5em;*/
/*border-bottom-left-radius:2em;*/
border-bottom-right-radius:2em;
}

div.ladocentral
{
position:absolute;
/*padding:100px 50px 30px 40px;*/
width:57%;
height:80%;
margin-left:20.0%;
/*padding: 20px 40px 80px 5px;*/
margin-top:9.5%;
/*border: 1px solid blue; */
background-color:#ffffff;

/*border-radius: 1em;*/
}
