@charset "utf-8";
/* CSS Document */

body {
	margin: 0px;
	padding: 0px;
}
.txtsimples  {
	font-family: Verdana;
	font-size: 10px;
	color: #FFFFFF;
	text-decoration: none;
}
.titulo1 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	color: #FF9900;
	text-decoration: none;
}
.txt2 {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-style: normal;
	font-weight: normal;
	color: #FFFFFF;
	text-decoration: none;
}
.quadro {
	height: 300px;
	width: 550px;
	border: 1px solid #000000;
	background-color: #333333;
	float: right;
}

