	body {
		font-family:		helv, arial, verdana, sans-serif;
		font-size:			66%;
		color:				#1E1903;
		margin:				0;
		padding:			0;
	}
	#content {
		position:			relative;
		width:				761px;
		margin:				0 auto;
		padding:			0;
	}
	#content form {
		margin-left:		30px;
		margin-right:		30px;
	}
/* Itens do formulário */
	

	fieldset {  
		margin: 			10px 0 0 0;  
		padding: 			0;
		background:			transparent url(formularios_fundo.gif) no-repeat bottom right;
	}

	legend {  
		text-transform:		uppercase;
		font-size:			1.3em;
		padding:			5px;
		margin-left:		1em;
		color:				#ffffff;
		background:			#493F0B;
	}
	
	fieldset ol {  
		padding: 			10px 10px 0 10px;  
		list-style: 		none;
	}
	
	fieldset li {  
		position:			relative;
		padding-bottom: 	1em;
		line-height:		3.4em;
	}
	
	fieldset#submitform {  
		background-image:	none;
		border-style: 		none;
	}
	
	label {
		position:			relative;
		clear:				left;
		float:				left;
		width:				15em;
		margin-right:		5px;
		padding-right:		30px;
		line-height:		3.4em;
		text-align:			right;
	}
	
	label.required {
		background:			transparent url(formularios_campoobrigatorio.gif) no-repeat center right;
	}
	
	label span {
		position:			absolute;
		left:				-10000px;
		top:				0px;
	}
	
	p span.required {
		display:			inline-block;
		vertical-align: 	middle;
		line-height:		3.4em;
		width:				25px;
		line-height:		3.4em;
		text-indent:		-10000px;
		overflow:			hidden;
		background:			transparent url(formularios_campoobrigatorio.gif) no-repeat center right;		
	}
	
	input {
		padding:			5px;
		font-size:			1.4em;
		border:				1px solid #493F0B; 
		color:				#1E1903; 
		background:			#F5F6D4;
	}
	
	input.radio {
		border:				none;
		background:			transparent;
	}
