<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Primeira Letra personalizada em textos</title>
    <style type="text/css">
        body {
            background-color: #666666;
            color: #333333;
            font-family: Georgia, "Times New Roman", Times, serif;
        }
        
        #estilo {
            padding: 10px;
            width: 800px;
            margin: 0 auto;
            background-color: #FFF;
        }
        
        p {
            line-height: 1.2em;
            clear: both;
        }
        /*p:first-letter {
display:block;
float:left;
border:1px solid black;
padding:5px;
margin:4px 5px;
font-size:73px;
background-image: url(primeira_letra.jpg);
}*/
    </style>
</head>

<body>

    <div id="estilo">
        <img src="img/titulo01.png">
        <p>
            Seja muito bem vindo a Associação Ferroviária Trilhos do Rio. Agradecemos o desejo de fazer parte da nossa organização e de realizar o Cadastro.
        </p>

        <p>A Associação Ferroviária Trilhos do Rio é uma instituição sem fins lucrativos que tem por objetivo a preservação, conservação e produção de projetos culturais, históricos e de mobilidade sobre trilhos no estado do Rio de Janeiro. Realizamos atividades
            desde o começo dos anos 2000, pesquisando em campo e coletando dados e informações muitas vezes ocultas e desconhecidas por onde passamos. Desde 2014 somos uma entidade formalizada, com CNPJ e sede situada no bairro de Piedade, na cidade do
            Rio de Janeiro. A partir da formalização da instituição, várias despesas e custos foram incorporados à nossa rotina, como as taxas e outros impostos jurídicos cobrados pela manutenção da entidade, do site e outras mídias, etc por esse motivo
            possuímos um programa de Associados, onde pessoas físicas nos ajudam bastante na cobertura dessas despesas, realizando contribuições em qualquer valor. Felizmente nosso raio de ação também se amplificou bastante, e hoje já temos projetos voltados
            para:
        </p>
        <ul>
            <li>
                Manutenção dos nossos ites e mídias, como o recém-lançado “Trem de Dados”, uma iniciativa da AFTR de se criar um repositório digital ferroviário, estadual em um primeiro momento, podendo tornar-se nacional e mundial, quem sabe ?
            </li>
            <li>
                Manutenção da nossa sede, em Piedade, onde estamos implantando biblioteca, museu, mapoteca, e destinando também um local para palestras, exibição de filmes, projetos e realização de reuniões. Além disso estamos destinando uma área para produção de vídeos
                e documentários, instalação de uma maquete ferroviária e outros atrativos;
            </li>
            <li>
                Compra de equipamentos e mobiliário para a sede, a fim de acomodar e possibilitar a adequada guarda dos ítens que compõem o acervo;

            </li>
            <li>
                Aquisição de material bibliográfico e iconográfico, para exposição física na Biblioteca instalada em Piedade, e digitalização para divulgação online em nossas mídias;
            </li>
            <li>
                Meio de transporte próprio ou voluntário para coleta de material e ítens históricos (por incrível que pareça até material rodante já necessitamos transportar, mas por falta de transporte, não foi possível realizar a operação);
            </li>
            <li>
                Implantação de um laboratório para restauração de material histórico, em variadas mídias e suportes (fotografias, livros, peças de sinalização e uso ferroviário, mapas, etc);
            </li>
            <li>
                Criação e construção de veículos ferroviários para manutenção, passeios e visitas técnicas ou reconhecimento de trecho (o Ferreocar, uma criação AFTR e Ferreotec)
            </li>
            <li>Manutenção de mobiliário ferroviário, como prédios onde funcionaram estações, armazéns, agências e outros usos;
            </li>
            <li>
                Criação de Centros Culturais e Memoriais Ferroviários, como os de Miguel Pereira e Governador Portela onde a AFTR, em conjunto com outras instituições, cedeu material histórico para compor o acervo. Outras cidades já demonstraram interesse em criar também
                seus Centros de Memória e Cultura Ferroviária, e estamos em constante contato para que esses projetos possam ser implementados;
            </li>
        </ul>
        <p> Portanto, para manter os atuais e futuros trabalhos como citados anteriormente, é importante que mais e mais pessoas possam contribuir. Além de ajudar a produzirmos e divulgarmos informações através das nossas pesquisas e atividades, os Associados
            têm a vantagem e possibilidade de receber brindes periódicos, como camisetas, canecas, postais e outras peças disponibilizadas por nós.</p>
        <p>
            Para contribuir é muito fácil! Veja abaixo como proceder: Via transferência tradicional ou depósito bancário: Instituição: 403 – Cora SCD Agência: 0001 Conta-corrente: 1101562-9 Nome da Empresa: ASSOCIAÇÃO FERROVIÁRIA TRILHOS DO RIO CNPJ: 23.300.662/0001-82
            Via Pix: 23.300.662/0001-82


        </p>

        <br style="clear:both" />
    </div>
</body>

</html>